*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    
}

body{
    min-height: 100vh;
    background-color: #296260;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    padding-top: px;
    color: #fff;
    padding-bottom: 50px;
   
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.logo {
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.desktop-menu ul {
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.desktop-menu ul li a:hover {
    color: #fa5e00;
    font-weight: 500;
}
.mobile-menu {
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #dcdcdc;
    display: none;
}

.mobile-menu i {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    cursor: pointer;
}

.mobile-menu ul {
    display: block;
    text-align: center;
}

.mobile-menu ul li{
    list-style-type: none;
    padding: 10px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #2b2b2b;
}

.mobile-menu ul li a:hover {
    color: #fa5e00;
}

#back-to-top {
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 15px 25px;
    border-radius: 100%;
    background: #F5EAD3;
    border: #193B3A solid;
    color: #193B3A;
}

.card-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap:30px;
    position: relative;
    text-align: center;
    padding: 70px;
    margin-left: 9%;
    justify-content: center;   
}

#first-container{
    background-color: #296260;
    width: 66%;
    border-radius: 50px;
   
} 
main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}      
p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#paragrafo{
    color: #ffffff;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15%;
}
#h1primeiro {
    text-align: center;
    color: white;
    padding:5px;
    background-color: #193B3A;
    border-radius: 40px;
    margin-left: 25%;
    margin-right: 26%;
    box-shadow: 2px 2px 10px #193B3A;

    
}
.titulo{
    text-align: center;
    color: white;
    padding:5px;
    background-color: #193B3A;
    border-radius: 40px;
    padding-top: 30px;
}

.card{
    background-color: #193B3A;
    border-radius: 20px;
    text-align: center; 
    height: 850px;
    width: 900px;
    justify-content: center;
    box-shadow: 10px 10px 20px #193B3A;
}
.card-content{
    color: #222;
    
}
footer {
    background-color: #193B3A;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    padding-left: 240px;
    
}
#footerh3{
    padding-left: 38px;
}
.footer-column h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
#footerh3pt2{
    padding-left: 35px;
}
.footer-column p{
    font-size: 16px;
    color: #7b7d8d;
}
.footer-column ul {
    list-style-type: none;
    padding: 0;   
}
.footer-column ul li a{
    margin-bottom: 8px;
    color: white;
}
.footer-bottom {
    background-color: #193B3A;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        
    }

    .footer-column {
        flex: 1 0 100%;
        max-width: none;
        padding: 0 15px;
        text-align: center;
    }

    .footer-column h3 {
        padding-left: 0; 
    }
}
@media screen and (max-width: 520px) {
    .card-container,
    .card-container2 {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #first-container {
        width: 100%;
        padding: 10px;
        padding-right: 30px;
    }

    #h1primeiro {
        margin-left: 46px;
        margin-right: 14px;
        font-size: 14px;
        padding-top: 13px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .card {
        width: 100%;
    }

    p {
        font-size: 5px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #paragrafo{
        font-size: 18px;
    }
    li {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .mobile-menu {
        display: block;
    }

    .desktop-menu ul {
        display: none;
    }

    a {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        flex: 1 0 100%;
        max-width: none;
        padding: 0 15px;
        text-align: center;
    }

    .footer-column h3 {
        padding-left: 0; /* Remover o padding esquerdo nos títulos */
    }
}

@media screen and (max-width: 280px) {
    .card-container,
    .card-container2 {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #first-container {
        width: 100%;
        padding: 5px;
    }

    #h1primeiro{
        margin: 5px;
        font-size: 12px;
        padding: 5px;
    }

    .card {
        width: 100%;
        height: auto;
        margin: 5px auto;
    }

    p {
        font-size: 12px;
        padding-right: 5px;
    }
    .mobile-menu {
        display: block;
    }

    li {
        font-size: 12px;
        padding-bottom: 4px;
    }
    
}