*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    
}

body{
    min-height: 100vh;
    background-color: #296260;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    padding-top: px;
    color: #fff;
    padding-bottom: 50px;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
.logo {
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.desktop-menu ul {
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.desktop-menu ul li a:hover {
    color: #fa5e00;
    font-weight: 500;
}

#back-to-top {
    position:fixed;
    bottom: 2px;
    right: 10px;
    padding: 15px 25px;
    border-radius: 100%;
    background: #F5EAD3;
    border: #193B3A solid;
    color: #193B3A;
}

.mobile-menu {
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #dcdcdc;
    display: none;
}

.mobile-menu i {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    cursor: pointer;
}


.mobile-menu ul {
    display: block;
    text-align: center;
}

.mobile-menu ul li{
    list-style-type: none;
    padding: 10px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #2b2b2b;
}

.mobile-menu ul li a:hover {
    color: #fa5e00;
}
.card-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:30px;
    position: relative;
    text-align: center;
    padding: 70px;
    margin-left: 9%;
    
}

.card-container2{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:30px;
    position: relative;
    text-align: center;
    padding: 70px;
    margin-left: 9%;
}
main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

#first-container{
    background-color: #296260;
    width: 55%;
    border-radius: 50px;
}       
p{
    color: #ffffff;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 30px;
}
.invisivel {
    color: #193B3A;
}
.add{
    background-color: #163130;
    border-radius: 5px;
    padding: 5px;
}

#desconto{
    font-size: 15px;
    padding-right: 10px;
}
#h1primeiro {
    text-align: center;
    color: rgb(255, 255, 255);
    padding:5px;
    background-color: #193B3A;
    border-radius: 40px;
    margin-left: 25%;
    margin-right: 27%;
    box-shadow: 10px 10px 20px #193B3A;
}
#h1segundo {
    text-align: center;
    color: rgb(255, 255, 255);
    padding:5px;
    background-color: #193B3A;
    border-radius: 40px;
    margin-left: 25%;
    margin-right: 27%;
    box-shadow: 10px 10px 20px #193B3A;
}
#text-h1{
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 5px;
}
#valor{
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 40px;
   
}
.card{
    background-color: #193B3A;
    border-radius: 20px;
    text-align: center; 
    height: 440px;
    width: 300px;
    justify-content: center;
    box-shadow: 10px 10px 20px #193B3A;
}

.card-container h2{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-content{
    color: #222;
    
}
img{
    width: 100%;
    
    border-radius: 20px;
}
.li{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}
#nutri{
    padding-left: 40px;
    color: #ffffff;
    font-size: 28px;
    padding-left: 14px;
    padding-right: 30px;
    padding-top: 20px;
}
#nutri2{
    padding-left: 40px;
    color: #ffffff;
    font-size: 28px;
    padding-right: 30px;
    padding-top: 28px;
}
#nutri3{
    padding-left: 40px;
    color: #ffffff;
    font-size: 28px;
    padding-left: 14px;
    padding-right: 30px;
    padding-top: 20px;
}
#nutri4{
    padding-left: 40px;
    color: #ffffff;
    font-size: 28px;
    padding-left: 14px;
    padding-right: 30px;
    padding-top: 20px;
}
.bnt{
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}
.btn2{
    
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #26BA2C;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 17px;
}
.btn2:hover{
    border: 1px solid #26BA2C;
    background: #fff;
    color: #26BA2C;
}
footer {
    background-color: #193b3a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    padding-left: 100px;
  }
  #footerh3 {
    padding-left: 8px;
  }
  .footer-column h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
  }
  #footerh3pt2 {
    padding-left: 8px;
  }
  #footerh3pt3 {
    padding-left: 60px;
  }
  .footer-column p {
    color: #7b7d8d;
    font-size: 16px;
  }
  .footer-column ul {
    list-style-type: none;
    padding-left: 60px;
    text-decoration: none;
  }
  
  .footer-column ul li a {
    margin-bottom: 8px;
    color: white;
  }
  
  .footer-bottom {
    background-color: #193b3a;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
    font-size: 14px;
  }
  @media screen and (max-width: 520px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      flex: 1 0 100%;
      max-width: none;
      padding: 0 15px;
      text-align: center;
    }
    .footer-column ul li {
      padding-right: 50px;
    }
    #footerh3pt3 {
      padding-right: 40px;
    }
  }
@media screen and (max-width: 1500px) {
    .card-container,
    .card-container2 {
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: none;
        padding: 20px;
        
    }

    .card {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }

    #first-container {
        width: 50%;
        padding: 10px;
    }

    #h1primeiro,
    #h1segundo {
        margin-left: 16%;
        margin-right: 7%;
    }

    p {
        font-size: 16px;
    }

    #valor {
        font-size: 30px;
    }
    li{
        
        padding-bottom: 20px;
        padding-right: 20px;
    }
    img{
        width: 97%;
        height: 91%;
        padding-top: 7px;
    }
    .logo{
        width: 5%;
        height: 10.2%;
    }
}
@media screen and (max-width: 520px) {
    .card-container,
    .card-container2 {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #first-container {
        width: 100%;
        padding: 10px;
        padding-right: 40px;
    }

    #h1primeiro,
    #h1segundo {
        margin-left: 41px;
        margin-right: 14px;
        font-size: 14px;
        padding-top: 13px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .card {
        width: 100%;
    }

    p {
        font-size: 20px;
        padding-right: 10px;
    }

    #nutri, #nutri2, #nutri3, #nutri4 {
        font-size: 28px;
        padding-left: 25px;
    }

    .btn {
        font-size: 17px;
    }

    #valor {
        font-size: 50px;
    }

    li {
        font-size: 20px;
        padding-bottom: 8px;
    }
    .mobile-menu {
        display: block;
    }

    .desktop-menu ul {
        display: none;
    }

    a {
        font-size: 16px;
    }
}
@media screen and (max-width: 280px) {
    .card-container,
    .card-container2 {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #first-container {
        width: 100%;
        padding: 5px;
    }

    #h1primeiro,
    #h1segundo {
        margin: 5px;
        font-size: 12px;
        padding: 5px;
    }

    .card {
        width: 100%;
        height: auto;
        margin: 5px auto;
    }

    p {
        font-size: 12px;
        padding-right: 5px;
    }

    #nutri, #nutri2, #nutri3, #nutri4 {
        font-size: 12px;
        padding-left: 5px;
    }

    .btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    #valor {
        font-size: 16px;
    }
    .mobile-menu {
        display: block;
    }

    li {
        font-size: 12px;
        padding-bottom: 4px;
    }
}